.root-menu {
  position: absolute;
  top: 7em;
  right: 2em;
  display: block;
  overflow: hidden;
  padding: 1em;
  width: 20em;
  height: 30em;
  background: white;
  border-radius: 1.5em;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;

  .close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
  }
}
