.root-menu {
  position: absolute;
  top: 7em;
  right: 2em;
  display: block;
  overflow: hidden;
  padding: 1em;
  width: 20em;
  height: 30em;
  background: white;
  border-radius: 1.5em;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;

  .btn {
    border-radius: 1.5em;
  }

  .close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: block;
    padding: 0;
  }

  .sign-out-button {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    border-radius: 1.5em;
  }

  .account-id {
    margin: auto;
    text-align: center;
    max-width: 14em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
}
